<h2>{{name}}</h2>

<dl>
    <td>Nombre:</td>
    <dd>{{name}}</dd>

    <td>Edad:</td>
    <dd>{{age}}</dd>
    <td>Método:</td>
    <dd> {{ getHeroDescription() }} </dd>
    <td>Capitalizado:</td>
    <dd>{{capitalizedName}}</dd>
</dl>

<button class="btn btn-primary mx-2" *ngIf="name != 'Spiderman'" (click)="changeHero()">
    Cambiar Nombre
</button>

<button class="btn btn-primary mx-2" *ngIf="age != 25" (click)="changeAge()">
    Cambiar Edad
</button>

<button class="btn btn-primary" (click)="resetForm()">
    Reset
</button>
